{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Veg Store</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link rel="stylesheet" href="{% static 'login_style.css' %}">
</head>
<body>
<div class=" box container" style="margin-top:120px">
  <form action="login.html" method="post">
    {% csrf_token %}
    <div class="row">
    
      <h2 style="text-align:center">Login</h2>
      
		<div class="col">
         
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <p><a href="#" style="float:right" class="btn">Forgot Password</a></p>
        
        <input type="submit" value="Login">
        <p style="float:right">Create an Account <a href="register.html">Sign Up</a></p>
      </div>
      
  </div>
  </form>
</div>
{% for message in messages %}
    <script>
        alert("{{message}}")
    </script>
{% endfor %}


</body>
</html>
